<div class="image-class">
    <h2>{{ image.title | uppercase }}</h2>
    <img [src]="image.imageUrl" [alt]="image.title" [ngClass]="{'clicked':image.clicks > 100}">
    <button (click)="onViewSingleImage()">voir plus... </button>
</div>

